* {
    box-sizing: border-box;
    font-size: 1.5rem;
}

body {
    margin: 0;
}

.wrapper {
    display: grid;
    gap: 4px;
    grid-template-areas:
        "header    header   header"
        "h1        h1       h1"
        "banner    banner   sidebox1"
        "banner    banner   sidebox2"
        "sidemenu  main     main"
        "tags      main     main"
        "recent    main     main"
        "footer    footer   footer";
}

.wrapper>* {
    padding: 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
}



h1 {
    background: purple;
    text-align: center;
    grid-area: h1
}

.header {
    background: rgb(3, 175, 3);
    text-align: center;
    grid-area: header;
}

.banner {
    background: radial-gradient(blue, black, red);
    min-height: 10vh;
    grid-area: banner;

}

.side-box1 {
    background: purple;
    display: grid;
    grid-area: sidebox1;

}

.side-box2 {
    background: brown;
    grid-area: sidebox2;
}

.side-menu {
    background: orangered;
    grid-area: sidemenu;

}

.tags {
    background: cyan;
    grid-area: tags;

}

.recent {
    background: red;
    grid-area: recent;

}

.main {
    background: linear-gradient(to right, blue, pink, red);
    min-height: 400px;
    grid-area: main;

}

.footer {
    background: #000;
    color: white;
    grid-area: footer;

}

@media (max-width: 1000px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header    header"
            "h1        h1 "
            "banner    banner"
            "sidebox1  sidebox2"
            "sidemenu  sidemenu"
            "main      main"
            "tags      recent"
            "footer    footer";
    }

    .banner {
        min-height: 20vh;
    }
}

@media(max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "h1"
            "banner"
            "sidebox1"
            "sidebox2"
            "sidemenu"
            "main"
            "tags"
            "recent"
            "footer";
    }
    
}